/*//////////////////////////////
RESET
//////////////////////////////*/

	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
	body{line-height:1}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
	nav ul{list-style:none}
	blockquote,q{quotes:none}
	blockquote:before,blockquote:after,q:before,q:after{content:none}
	a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
	ins{background-color:#ff9;color:#000;text-decoration:none}
	mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
	del{text-decoration:line-through}
	abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
	table{border-collapse:collapse;border-spacing:0}
	hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
	input,select{vertical-align:middle}

/*//////////////////////////////
BASE
//////////////////////////////*/

	/*
	Utility
	*/

		/*
		Clearfix
		*/
			.clearfix:after{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0}
			.clearfix{display: inline-block}
			* html .clearfix{height:1%}
			.clearfix {display: block}
		
		/*Clear*/
			.clear{clear: both}
	
	/*
	General
	*/
		b, strong{font-weight:bold}
		i{font-style:italic}
		del{text-decoration:line-through}
		u{text-decoration:underline} 
		blockquote{font-style:italic; padding:0 20px}
		q{font-style:italic;}
		
	/*
	Anchors
	*/
		a:hover,a:active{text-decoration:underline}
		
	/*
	Lists
	*/	
		ul, ol{margin:0 0 20px 15px}
		ul ul, ol ol{margin:0 0 0 15px}
		ul ul ul,ol ol ol{margin:0 0 0 15px;}
		ul ul ul ul,ol ol ol ol{margin:0 0 0 15px;}
		ul li{list-style:outside disc}
		ul ul li{list-style-type:circle}
		ul ul ul li{list-style-type:square;}
		ul ul ul ul li{list-style-type:disc}
		ol li{list-style:inside decimal}
		ol ol li{list-style-type:upper-alpha}
		ol ol ol li{list-style-type:lower-roman}
		ol ol ol ol li{list-style-type:lower-alpha}
		
	/*Wordpress*/
	
		/*
		Images
		*/
			.alignleft,img.alignleft{margin-right: 1.5em; display: inline; float: left}
			.alignright,img.alignright{margin-left: 1.5em; display: inline; float: right}
			.aligncenter,img.aligncenter{margin-right: auto; margin-left: auto; display: block; clear: both}
	
		/*
		Captions
		*/
			.wp-caption{margin-bottom: 1.5em; text-align: center; padding-top: 5px}
			.wp-caption img{border: 0 none; padding: 0; margin: 0}
			.wp-caption p.wp-caption-text{line-height: 1.5; font-size: 10px; margin: 0}
		/*
		Quotes
		*/
			.wp-smiley{margin: 0 !important; max-height: 1em}
			blockquote.left{margin-right: 20px; text-align: right; margin-left: 0; width: 33%; float: left}
			blockquote.right{margin-left: 20px; text-align: left; margin-right: 0; width: 33%; float: right}